{% if content %}
    <a href="{{URL}}/{{ main_page.slug }}?sort_by=desc">Descending</a>
    <a href="{{URL}}/{{ main_page.slug }}?sort_by=asc">Ascending</a>
    <ul>
    {% for block in content %}
        <li>id: {{ block.id }}</li>
        <li>page_id: {{ block.page }}</li>
        <li>Block name: {{ block.title }}</li>
        <li><a href="{{URL}}/file/{{ block.video }}">{{block.video}}</a></li>
        <li>total views: {{ block.views }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No blocks content.</p>
{% endif %}